* {
font-family: verdana;
font-size: 14px;
  }

header {
  background-color: rgb(61, 62, 95)
}
  
ul {
  display: flex;
  justify-content: flex-end;
}
  
header ul li {
padding: 0.2rem;
color: white;
margin: 2px;
list-style: none;
}

h1 {
 color: white;
 font-size: 1.5rem;
 padding-left: 0.5rem;
}

h2 {
  font-size: 1.25rem;
}
h3 {
  font-size: 1rem;
}

h4 {
  font-size: 1rem;
  font-weight: lighter;
}

#aboutMe {
  display: flex;
  justify-content: space-between;
  position: relative;
}
#aboutMe span {
  flex-basis: 50%;
  padding: 10px;
  
}
img#photo{
  width: 300px;
  height: auto;
  margin-left: 50px;
}
#skills ul {
  display: flex;
  justify-content: space-around;
}
#skills ul li {
  color: black;
  list-style: none;
  margin: 1px;
  padding: 5px;
  flex-basis: auto;
}
#portfolio {
  background: cadetblue;
}
#quote {
  display: flex;
  justify-content: flex-start;
  color: rgb(241, 241, 248);
  padding: 5px 0px;
}
#quote p {
  font-size: 1.5rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#garfield {
  color: white;
  background-color: grey;
  width: 60px;
  height: 30px;
  margin: 10px;
}
#garfield:hover {
cursor: pointer;
background:rgb(61, 62, 95);
}