* {
font-family: verdana;
font-size: 16px;
  }

header {
  background-color: rgb(61, 62, 95)
}
  
ul {
  display: flex;
  align-items: flex-end;
}
  
li {
padding: 4px;
color: white;
margin: 2px;
list-style: none;
}

h1 {
 color: white;
 font-size: 1.25rem;
}

.aboutMe {
  display: flex;
}

#photo{
  width: 100px;
  height: auto;
}
#quote {
  display: flex;
  background: cadetblue;
  text-align: center;
  color: rgb(241, 241, 248);
  padding: 15px 0px;
}
section p {
  flex-basis: auto;
  align-items: space-around;
  font-size: 2rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#garfield {
  color: white;
  background-color: grey;
  width: 60px;
  height: 30px;
}
#garfield:hover {
cursor: pointer;
}