* {
font-family: verdana;
font-size: 16px;
background-color:rgb(173, 173, 175)
  }

ul {
  display: flex;
  align-content: flex-end;
}
  
li {
padding: 4px;
color: white;
background: lightgrey;
position: fixed;
margin: 2px;
}

h1 {
 color: white;
 font-size: 24px;
 position: relative;
 top: 40px;
 background: navy;
}

#quote {
  display: flex;
  align-items: center;
  background: cadetblue;
  text-align: center;
  color: rgb(241, 241, 248);
}

#garfield {
  color: white;
  background-color: grey;
  width: 60px;
  height: 30px;
}
#garfield:hover {
cursor: pointer;
}